:root {

    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very--dark-gray: hsl(0, 0%, 27%);
}


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
}

.main {
    max-width: 1400px; /* Desktop */
    margin: 0 auto; /* Centrado */
    display: grid; 
    grid-template-columns: 1fr; /* Solo una columna */
    grid-template-columns: repeat(5, max-content); /*  */    grid-template-areas:
        "main"
        "buy"
        "image1"
        "about"
        "image2";
}

.main__hero {
    min-height: 500px;
    background-image: url("../images/desktop-image-hero-1.jpg");
    background-size: cover;
    background-position: center;
}